.centered{
    margin : 0px auto;
}
.box-shadow{
    box-shadow: 3px 3px 7px grey;
}
.border-radius{
    border-radius: 10px;;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}